html {
  height: 100%;
}

body {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

button {
  font-size: 12px !important;
}

.navbar-fixed-top {
  margin: 0;
}

.navbar-inner {
  background-color: #fff;
  background-image: none;
}

.navbar-inner a.brand {
  padding: 6px 0 0 0;
}

@media (min-width: 980px) {
  .nav-collapse ul.nav {
    float: right;
  }
}

.nav-collapse ul.nav {
  line-height: 15px;
}

.dropdown-toggle .caret {
  margin-top: 8px;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-container .btn-group {
  margin-top: 0;
}

.navbar .carousel {
  display: none;
  margin: 0 auto 0 auto;
  width: 224px;
}

  .navbar .carousel .item {
    text-align: center;
  }

  .navbar .carousel .carousel-control {
    font-size: 40px;
    width: 30px;
    height: 30px;
    line-height: 24px;
    top: 23px;
    border: none;
  }

    .navbar .carousel .carousel-control.left {
      left: -46px;
    }

    .navbar .carousel .carousel-control.right {
      right: -46px;
    }

#mapList .btn,
.carousel .btn {
  font-size: 13px !important;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  border-bottom: none;
  background-image: linear-gradient(to bottom, #ffffff, rgb(209, 210, 212));
}

#mapList .btn:hover,
.carousel .btn:hover {
  background-color: rgb(153, 153, 153);
  background-position: 0 -28px;
}

#mapList .btn.active,
.carousel .btn.active {
  background-color: rgb(104, 115, 150);
  background-image: none;
}

#mapDiv {
    margin-top: 41px;
    min-height: 100%; 
    max-height: 100%;
}

#mapDiv_root {
  top: 0;
  left: 0;
}

.sub-theme-buttons {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomright: 4px;

  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.sub-theme-buttons .btn {
  border-top: none;
  border-bottom: 1px solid rgb(149, 156, 180);
}

.btn-neod {
  color: #fff;
  background-color: rgb(149, 156, 180);
  background-image: linear-gradient(to bottom, #cccccc, rgb(149, 156, 180));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  font-weight: bold;
  letter-spacing: .1em;
}


.btn-neod.active {
  color: #fff;
  background-color: rgb(104, 115, 150);
  background-image: none;
}

.btn-neod:hover {
  color: #fff;
  background-color: rgb(125, 135, 165);
  background-position: 0 -28px;
}

#mapControls {
  position: absolute;
  right: -102px;
  top: 6%;
  z-index: 1;
  -webkit-transition: right .3s ease-in-out;
  -moz-transition: right .3s ease-in-out;
  -o-transition: right .3s ease-in-out;
  transition: right .3s ease-in-out;
}

#mapControls:hover{
  right: 0px;
}
  #mapControls .dropdown-menu {
    top: -2px;
    left: -162px;
  }


  #mapControls .btn {
    width: 140px;
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    opacity: .8;
    filter: alpha(opacity=80);
    text-align: left;
  }

  #mapControls .btn span {
    margin-right: 15px;
  }

.no-bottom-border {
  border-bottom: none;
}

.no-top-left-border-radius{
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-left-radius: 0px !important;
}

.no-bottom-left-border-radius{
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.no-top-right-border-radius{
  -webkit-border-top-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  border-top-right-radius: 0px !important;
}

.no-bottom-right-border-radius{
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.no-left-border-radius {
  -webkit-border-bottom-left-radius: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.no-right-border-radius {
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.no-bottom-border-radius {
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.no-border-radius {
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

#basemapDropdownDiv, #zoomToDropdownDiv{
  margin-left: 0;
  display: block;
}

#zoomToDropdown, #basemapDropdown {
  border-top: none;
  border-bottom: none;
}

div#watermark{
    position: fixed;
    bottom: 9px;
    left: 10px;
    color: #000;
    text-shadow: #fff 1px 1px;
    font-size: 15px;
}
span#scale {
    position: fixed;
    bottom: 9px;
    right: 170px;
    color: #000;
    text-shadow: #fff 1px 1px;
    font-size: 15px;
}

.scalebar_bottom-right {
    bottom: 6px !important;
    right: 160px !important;
}

#loading {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 100;
    display: none;
}


/*  legend BEGIN
===============================================  */


.esriLegendServiceLabel {display: none;}

.esriLegendGroupLayer {
  padding-top: 0 !important;
}

#legendModal {
  top: 15px;
  left: 65px;
  /*opacity: .25;
  transition: opacity .3s ease-out;*/
  width: 298px;
  margin: 0;
  position: absolute;
  display: none;
  z-index: 1040;
}

  #legendModal .modal-header .alert-info{
    font-size: 12px;
    margin-bottom: 0;
    width: 174px;
    text-align: center;
    padding-right: 14px;
  }

     /*
  #legendModal:hover {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
  */

  #legendModal .modal-body {
    font-size: 12px;
    padding: 4px 0 0 0;
    clear:both;
  }

  #legendModal .modal-header h5,
  #shareModal .modal-header h5,
  #feedbackModal .modal-header h5{
    margin-top: 0;
    margin-bottom: 0;
  }

  #legendModal .modal-body {
    max-height: 428px;
  }

  #legendModal .modal-footer {
    text-align: left;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
/*.esriLegendLayerLabel a, #colorRamp a {
  color: #006633;
  text-decoration:  none;
  padding-right:    17px;
  background:     url(../img/extlink.gif) right center no-repeat;
  transition: padding-right .1s linear;
}

.esriLegendLayerLabel a:hover, #colorRamp a:hover {
  text-decoration:  underline;
  padding-right:    22px;
  background:     url(../img/extlink.gif) right center no-repeat;
}*/

#radioWrapper {
  padding: 10px 0 10px 10px;
}

  #radioWrapper button {
    width: 224px;
    text-align: left;
  }

/*  legend END
===============================================  */

#basemapDropdownList.dropdown-menu > li > a {
  line-height: 34px;
  padding-left: 10px;
}

#basemapDropdownList.dropdown-menu > li > a > img  {
  border              : 1px solid #fff;
  margin              : 5px;
  -webkit-box-shadow  : 0px 0px 7px black;
  box-shadow          : 0px 0px 7px black;
}

#side-buttons {
  position: relative;
  margin-top: 3%;
  width: 0;
  margin-left: -31px;
}
  
  #side-buttons .btn {
    width: 90px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    margin-top: 80px;
    border-bottom: none;
  }

.modal {
  width: auto;
}

/* Maritime Commerce
==================================================================== */
div#legendDiv_oceanUses_21_group.esriLegendGroupLayer > table.esriLegendLayerLabel,
div#legendDiv_oceanUses_16_group.esriLegendGroupLayer > table.esriLegendLayerLabel,
div#legendDiv_oceanUses_0_group > table.esriLegendLayerLabel,
div#radioWrapper {
  display: none;  
}

#shareModal, #feedbackModal {
  display: none;
  /*top: 32%;*/
  left: 31%;
}

  #shareModal a {
    text-decoration: none;
  }

#shareModal.fade.in {
  left: 31%;
  top: 32%;
}

#feedbackModal {
  width: 500px;
}

  #feedbackModal .modal-body {
    max-height: 461px;
  }