html {
  height: 100%;
}

body {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  height: 100%;
}

:focus {
  outline: none;
}

button {
  font-size: 12px !important;
}

button.close {
  font-size: 22px !important;
}

#side-panel {
  width: 300px;
  background-color: #697396;
  border-right: 1px solid #ddd;
  z-index: 10;
  position: absolute;
  font-size: 11px;
  visibility: hidden;
}
  #side-panel #remove-button-div {
    margin: 0 0 0 10px;
    padding: 5px 0;
  }
    #side-panel #remove-button-div a {
      color: #fff;
    }

  #side-panel #tree {
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 2px solid #eee;
    background-color: #FFF;
    display: none;
  }
.panel-heading {
  padding: 5px 15px !important;
  background-color: #697396 !important;
}

.panel-heading:hover {
  background-color: #999 !important;
}

.panel-heading-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #D1D2D4;
  margin-right: 10px;
  margin-top: 4px;
  right: 0;
  cursor: pointer;
}

.panel-heading-arrow:hover {
  border-right-color: white;
}

#show-hide-btn-container {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #697396;
  margin-left: 269px;
}

.panel-body {
  font-size: 11px;
  padding: 0;
}

h3.panel-title {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.navbar-brand {
  margin-top  : 4px;
  margin-left : -5px;
}

.navbar-default .navbar-nav > li > span,
.navbar-default .navbar-nav > li > a {
  font-size     : 12px;
  font-family   : 'Droid Sans', Arial, sans-serif;
  color         : #393939;
  text-transform: uppercase;
  padding       : 10px 9px;
}

.dropdown-menu {
  text-align: left;
}

.dropdown-menu > li > a {
  font-size     : 12px;
  font-family   : 'Droid Sans', Arial, sans-serif;
  color         : #393939;
  text-transform: uppercase;
}

li.dropdown {
  padding-top: 9px;
}

.navbar-default .navbar-nav > li > span:hover,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
  color: #785F00 !important;
}

.navbar-fixed-top {
  margin: 0;
  height: 63px;
}

.navbar-inner {
  background-color: #fff;
  background-image: none;
}

.navbar-inner a.brand {
  padding: 6px 0 0 0;
}

@media (min-width: 980px) {
  .nav-collapse ul.nav {
    float: right;
  }
}

.nav-collapse ul.nav {
  line-height: 15px;
  margin-right: 50px;
}

.navbar .carousel {
  display: none;
  margin: 0 auto 0 auto;
  width: 217px;
}

  .navbar .carousel .item {
    text-align: center;
  }

  .navbar .carousel .carousel-control {
    font-size: 30px;
    width: 22px;
    height: 22px;
    line-height: 15px;
    top: 25px;
    border: none;
  }

    .navbar .carousel .carousel-control.left {
      left: -25px;
    }

    .navbar .carousel .carousel-control.right {
      right: -25px;
    }

#mapList {
  text-align: center;
}

#mapList .btn,
.carousel .btn {
  color: #fff;
  background-color: rgb(209, 210, 212);
  border-bottom: none;
  border-color: #fff;
  padding: 2px 4px 2px 4px;
  font-weight: bold;
}

/*#mapList .btn:hover,
.carousel .btn:hover {
  background-color: rgb(153, 153, 153);
}*/


#mapList .navbar-right {
  margin-right: 123px;
}

.map-pane {
    margin-top: 63px;
    min-height: 100%; 
    max-height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    opacity: 0;
}

/*.map-pane.lite-viewer {
  margin-top: 83px;
  border-top: 1px solid rgb(51, 51, 51);
  opacity: 0;
}*/

.enabled {
  font-style: italic !important;
  font-weight: bold !important;
}

.map {
  position: absolute;
  width: 100% !important;
  height: 100%;
  z-index: 0;
}

.map.active {
  display: block;
  opacity: 1;
  z-index: 1;
}

#legend-dv {
  overflow-y      : auto;
  border-top      : 2px solid #ddd;
  padding         : 10px 0 10px 15px;
  background-color: #FFF;
  z-index         : -1;
}

.legend {
  overflow-y  : auto;
  padding     : 10px 0 10px 26px;
} 

#flex-link {
  color: #006633;
  text-decoration: underline;
}

#about {
  padding-top: 7px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#about div {
  border-top: 1px solid #ccc;
  padding-top: 3px;
  font-size: 11px;
  line-height: 14px;
  color: rgb(128, 128, 128);
}

.legend h5 {
  font-weight: bold;
}

.btn-neod {
  color: #fff;
  background-color: rgb(149, 156, 180);
  background-image: linear-gradient(to bottom, #cccccc, rgb(149, 156, 180));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
  font-weight: bold;
  letter-spacing: .1em;
}


.btn-neod.active {
  color: #fff;
  background-color: rgb(104, 115, 150);
  background-image: none;
}

.btn-neod:hover {
  color: #fff;
  background-color: rgb(125, 135, 165);
  background-position: 0 -28px;
}

#mapControls {
  position: absolute;
  right: 10px;
  z-index: 999999;
  top: 67px;
}

.no-bottom-border {
  border-bottom: none;
}

.no-top-left-border-radius{
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-left-radius: 0px !important;
}

.no-bottom-left-border-radius{
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.no-top-right-border-radius{
  -webkit-border-top-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  border-top-right-radius: 0px !important;
}

.no-bottom-right-border-radius{
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.no-left-border-radius {
  -webkit-border-bottom-left-radius: 0px !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.no-right-border-radius {
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.no-bottom-border-radius {
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.no-border-radius {
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

div#watermark{
    position: absolute;
    bottom: 9px;
    color: #000;
    text-shadow: #fff 1px 1px;
    font-size: 15px;
    z-index: 2;
    margin-left: 315px;
    width: 150px;
}
span#scale {
    position: fixed;
    bottom: 9px;
    right: 170px;
    color: #000;
    text-shadow: #fff 1px 1px;
    font-size: 15px;
    z-index: 2;
}

.scalebar_bottom-right {
    bottom: 6px !important;
    right: 160px !important;
}

#loading {
    width: 20px;
    position: absolute;
    right: 370px;
    top: 5px;
    z-index: 2;
    visibility: hidden;
}


/*  legend BEGIN
===============================================  */

table.esriLegendLayer tr {
  height: 21px;
}

table.esriLegendLayer tr td {
  padding: 1px;
}

/*.esriLegendServiceLabel {display: none;}*/

.esriLegendGroupLayer {
  padding-top: 0 !important;
}

  .esriLegendGroupLayer > table:first-child {
    display: none;
  }

.esriLegendLeft {
  padding-right: 0!important;
  padding-left: 0!important;
}

#shareModal,
#feedbackModal {
  display: none;
}

#shareModal a {
  text-decoration: none;
}

#legendModal .modal-content {
  background-color: #fff;
}

#legendModal.modal {
  top: 100px;
  left: 65px;
  z-index: 9999999999;
}
  
  #legendModal.modal .modal-dialog {
    width: auto !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  #legendModal .modal-header {
    padding: 0;
    background-color: rgb(104, 115, 150);
    color: white;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
  }

  #legendModal .modal-header button.close {
    margin-right: 3px;
    margin-top: 0;
  }

#legendWrapper {
  max-height: 443px;
  height: auto;
  overflow-y: auto;
}

#legendModal .modal-body {
    height: auto;
    padding: 0;
  }

#legendModal .modal-header #tabs {
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: move !important;
  }

    #legendModal .modal-header #tabs li {
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    #legendModal .modal-header #tabs li {
      width: 45%;
    }

    #legendModal .modal-header #tabs li.active a {
      color: rgb(104, 115, 150);
    }

    #legendModal .modal-header #tabs li a{
      color: #fff;
      padding-top: 3px;
      padding-bottom: 3px;
      cursor: move !important;
    }

    #legendModal .modal-header #tabs li a:hover{
      color: #555;
      color: rgb(104, 115, 150);
    }

  #legendModal .modal-footer {
    text-align: left;
    font-size: 11px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

#side-panel table.esriLegendLayerLabel {
  padding-top: 5px;
  font-weight: bold;
}

#legend-dv_http\:\/\/50\.19\.218\.171\/arcgis1\/rest\/services\/SiteDev\/OtherMarineLife\/MapServer\/_0_group > table:first-child,
#legend-dv_http\:\/\/50\.19\.218\.171\/arcgis1\/rest\/services\/SiteDev\/MarineMammalsAndSeaTurtles\/MapServer\/_0_group > table:first-child,
#legend-dv_http\:\/\/50\.19\.218\.171\/arcgis1\/rest\/services\/SiteDev\/Energy\/MapServer\/_0_group > table:first-child,
#legend-dv_http\:\/\/50\.19\.218\.171\/arcgis1\/rest\/services\/SiteDev\/MaritimeCommerce\/MapServer\/_0_group > table:first-child,
#legend-dv_http\:\/\/50\.18\.215\.52\/arcgis\/rest\/services\/NAMERA\/EUSD_NAM_DEMERSAL\/MapServer\/_0_group > table:first-child,
#legend-dv_http\:\/\/maps\.ngdc\.noaa\.gov\/arcgis\/rest\/services\/web_mercator\/dem_hillshades_mosaic\/MapServer\/ {
  display: none !important;
}

#legend-lv .esriLegendService > div > table.esriLegendLayerLabel,
#radioWrapper {
  display: none;
}

.esriLegendService {
  padding-bottom: 0 !important;
}

  .esriLegendService > table:first-child {
    display: none;
  }

/*  legend END
===============================================  */



.esriSimpleSlider {
  z-index: 9999999!important;
  top: 2px !important;
  text-align: center;
  border: 1px solid #666666 !important;
  background-color: #FFFFFF;
  color: #666666;
  position: relative !important;
  width: 41px;
  float: right !important;
  margin-right: 337px;
  margin-top: 3px;
  cursor: pointer;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -moz-box-shadow: 0 0 0.5em #BBBBBB;
  -webkit-box-shadow: 0 0 0.5em #BBBBBB;
  webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.esriSimpleSlider div {
  width: 20px !important;
  height: 20px !important;
  width: 100px;
  left: -10px !important;
  float: left;
  font-size: 17px !important;
  font-family: verdana, helvetica;
  font-weight: bold !important;
  line-height: 20px !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  -webkit-border-top-left-radius: 5px !important;
  -moz-border-radius-top-left: 5px !important;
  -o-border-top-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottom-left: 5px !important;
  -o-border-bottom-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;

  -webkit-border-top-right-radius: 0 !important;
  -moz-border-radius-top-right: 0 !important;
  -o-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-radius-bottom-right: 0 !important;
  -o-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  border-bottom: none!important;
  border-right: 1px solid #666!important;
}

.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-top-right: 5px !important;
  -o-border-top-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottom-right: 5px !important;
  -o-border-bottom-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

  -webkit-border-top-left-radius: 0 !important;
  -moz-border-radius-top-left: 0 !important;
  -o-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-bottom-left: 0 !important;
  -o-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

#basemapDropdown, #zoomToDropdown {
  border-right: none;
}

#basemapDropdownList.dropdown-menu > li > a {
  line-height: 34px;
  padding-left: 10px;
}

#basemapDropdownList.dropdown-menu > li > a > img  {
  border              : 1px solid #fff;
  margin              : 5px;
  -webkit-box-shadow  : 0px 0px 7px black;
  box-shadow          : 0px 0px 7px black;
}

/*
#side-buttons {
  position: absolute;
  margin-top: -33px;
  width: 0;
  margin-left: -51px;
  z-index: 2;
}
  
  #side-buttons .btn {
    width: 131px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    margin-top: 120px;
    border-bottom: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }

  #side-buttons #feedbackButton {
    width: 87px;
    margin-left: 22px;
    margin-top: 87px;
  }*/

/*  time slider 
================= */

#timeSliderDiv {
  height: 48px;
}

.esriTimeSlider {
  padding-top: 0 !important;
  padding-bottom: 25px;
  width: 98% !important;
}

.esriTimeSlider .dijitRuleLabelH {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  color: #333;
  letter-spacing: 1px;
  margin-top: 3px;
}

#ais-link {
  display: none;
}

#ais-link img {
  margin-right: 10px;
}

/*#show-hide-btn {
  background-color: #f5f5f5;
  position: absolute;
  margin-left: 300px;
  margin-top: 0px;
  z-index: 2;
  border: 1px solid #888;
  border-left: none;
  border-top: none;
  padding: 4px;
}

#show-hide-btn:hover {
  background-color: #ddd;
}*/

.esriScalebar {
  position: fixed !important;
  bottom: 2px !important;
  right: 163px !important;
}

img[src="img/ais-legend.png"] {
  margin-bottom: 15px;
}

.no-children span.dijitTreeExpando,
.dijitInline.dijitIcon.dijitTreeIcon.dijitFolderClosed,
.dijitInline.dijitIcon.dijitTreeIcon.dijitFolderOpened,
#legend_msg,
#layer-info {
  display: none;
}

.dijitCheckBox {
  margin-bottom : 4px !important;
  vertical-align: top !important;
  margin-top    : 1px !important;
}

.zoom-notice {
  color: #767676;
  float: right;
  padding-right: 5px;
  font-size: 10px;
}

.dijitTreeRow,
.dijitTreeContent {
  white-space: normal !important;
}

.dijitInline.dijitIcon.dijitTreeIcon.dijitIconFile {
  float       : right !important;
  cursor      : pointer !important;
  margin-right: 5px;
  margin-top  : 2px;
}

.no-children span.dijitTreeLabel {
  display     : inline-block;
  max-width   : 194px;
  line-height : 16px;
}

#layer-info {
  background-color: #fff;
  overflow-y: auto;
}

#back-to-layers span {
  margin-right: 3px;
  margin-top  : -1px;
}

#back-to-layers {
  padding       : 10px 15px 0 15px;
  margin-bottom : 15px;
  cursor        : pointer;
}

#themeButtonGroup {
  visibility: hidden;
}

#themeButtonGroup button,
#subthemeButtonGroup div {
  text-indent: -99999px;
}

#subthemeButtonGroup {
  display: block;
  text-align: center;
}

.container-fluid {
  min-width: 1241px;
}

.dijitButtonText {
  font-size: 12px !important;
}

.button-container {
  display: inline-block;
}

#subthemeButtonGroup {
  margin-top: 63px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99999999;
}

.dijitMenuItemLabel {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dijitMenuItemLabel {
  font-size: 12px !important;
}

.thumbMap {
  width: 50px;
  height: 33px;
}

.thumbnail0 {
  background-image: url("../../img/ocean.png");
}

.thumbnail1 {
  background-image: url("../../img/satellite.png");
}

.thumbnail2 {
  background-image: url("../../img/chart.png");
}

.dijitMenuItemLabel {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

td.dijitMenuItemIconCell span{
  border: 1px solid #fff;
  margin: 5px;
  -moz-box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px black;
  box-shadow: 0px 0px 7px black;
}

#side-panel a,
#legendWrapper a {
  color: #006633;
}

#legendWrapper a {
  visibility      : visible !important;
  text-decoration : none;
  padding-right   : 17px;
  background      : url("../../../images/extlink.gif") right center no-repeat !important;
}

#legendWrapper a:hover {
  text-decoration : underline;
  padding-right   : 22px;
  background      : url("../../../images/extlink.gif") right center no-repeat !important;
}

#layer-info-content {
  padding: 0 15px 15px 15px;
}

#layer-info-content h5 {
  font-weight   : bold;
  margin-bottom : 5px;
}

  #layer-info-content p {
    line-height: 16px;
  }

#description-text {
  padding-left: 3px;
  padding-right: 3px;
}

#legend-control {
  background-color: #fff;
  padding-left    : 15px;
  border-top      : 2px solid #ddd;
  font-size       : 14px;
  font-weight     : bold;
  padding         : 5px 20px;
  position        : absolute;
  bottom          : 0;
  width           : 300px;
}

.panel-heading-arrow-vert {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #D1D2D4;
  cursor: pointer;
  margin-top: -14px;
  margin-left: 66px;
}

.panel-heading-arrow-vert:hover {
  border-top-color: #697396;
}

#source-data-modal .modal-dialog {
  margin-top: 100px;
}

#source-data-modal .modal-dialog,
#source-data-modal .modal-content {
  width     : 275px;
  text-align: center;
}

#source-data-modal .modal-body {
  padding-bottom: 0;
}

#source-data-modal .modal-body a {
  display: none;
}

#source-data-modal #source-download-loading {
  visibility: hidden;
  position  : absolute;
  left      : 15px;
}

/* theme buttons */

#theme0 {
  border-top-left-radius: 0;
  background-image: url('../../img/theme-buttons/top/maritimecommerce-off.png');
  width: 73px;
}

  #theme0:hover {
    background-image: url('../../img/theme-buttons/top/maritimecommerce-mouseover.png');
  }

  #theme0.active-theme {
    background-image: url('../../img/theme-buttons/top/maritimecommerce-on.png');
  }

#theme1 {
  background-image: url('../../img/theme-buttons/top/energy-off.png');
  width: 57px;
}

  #theme1:hover {
    background-image: url('../../img/theme-buttons/top/energy-mouseover.png');
  }

#theme2 {
  background-image: url('../../img/theme-buttons/top/recreation-off.png');
  width: 87px;
}

  #theme2:hover {
    background-image: url('../../img/theme-buttons/top/recreation-mouseover.png');
  }

#theme3 {
  background-image: url('../../img/theme-buttons/top/commercialfishing-off.png');
  width: 141px;
}

  #theme3:hover {
    background-image: url('../../img/theme-buttons/top/commercialfishing-mouseover.png');
  }

#theme4 {
  background-image: url('../../img/theme-buttons/top/aquaculture-off.png');
  width: 95px;
}

  #theme4:hover {
    background-image: url('../../img/theme-buttons/top/aquaculture-mouseover.png');
  }

#theme5 {
  background-image: url('../../img/theme-buttons/top/culture-off.png');
  width: 59px;
}

  #theme5:hover {
    background-image: url('../../img/theme-buttons/top/culture-mouseover.png');
  }

#theme6 {
  background-image: url('../../img/theme-buttons/top/fish-shellfish-off.png');
  width: 111px;
}

  #theme6:hover {
    background-image: url('../../img/theme-buttons/top/fish-shellfish-mouseover.png');
  }

#theme7 {
  background-image: url('../../img/theme-buttons/top/mammals-off.png');
  width: 157px;
}

  #theme7:hover {
    background-image: url('../../img/theme-buttons/top/mammals-mouseover.png');
  }

#theme8 {
  background-image: url('../../img/theme-buttons/top/othermarinelife-off.png');
  width: 128px;
}

  #theme8:hover {
    background-image: url('../../img/theme-buttons/top/othermarinelife-mouseover.png');
  }

#theme9 {
  border-top-right-radius: 0;
  background-image: url('../../img/theme-buttons/top/waterquality-off.png');
  width: 105px;
}

  #theme9:hover {
    background-image: url('../../img/theme-buttons/top/waterquality-mouseover.png');
  }

/* for data viewer button */

button#theme10 {
  width       : 93px;
  text-indent : 0;
  border-top-right-radius: 0;
}

button#theme10:hover {
  background-color: #999;
  border-top-right-radius: 0;
}

button#theme10.active-theme {
  background-color: #697396;
}

/* sub-theme buttons */

#subthemeButtonGroup div {
  background-repeat : no-repeat;
  height            : 29px;
  background-color  : transparent;
  display           : inline-block;
  cursor            : pointer;
  margin-right      : 1px;
}

.theme_0 {
  width: 151px;
}

  .theme_0:nth-child(1) {
    background-image: url('../../img/theme-buttons/sub/navigation-off.png');
  }

    .theme_0:nth-child(1):hover {
      background-image: url('../../img/theme-buttons/sub/navigation-mouseover.png');
    }

    .theme_0.active-subtheme:nth-child(1) {
      background-image: url('../../img/theme-buttons/sub/navigation-on.png');
    }

  .theme_0:nth-child(2) {
    background-image: url('../../img/theme-buttons/sub/potentialhazards-off.png');
  }

    .theme_0:nth-child(2):hover {
      background-image: url('../../img/theme-buttons/sub/potentialhazards-mouseover.png');
    }

    .theme_0.active-subtheme:nth-child(2) {
      background-image: url('../../img/theme-buttons/sub/potentialhazards-on.png');
    }

  .theme_0:nth-child(3) {
    background-image: url('../../img/theme-buttons/sub/commercialtraffic-off.png');
  }

    .theme_0:nth-child(3):hover {
      background-image: url('../../img/theme-buttons/sub/commercialtraffic-mouseover.png');
    }

    .theme_0.active-subtheme:nth-child(3) {
      background-image: url('../../img/theme-buttons/sub/commercialtraffic-on.png');
    }

.active-theme,
.active-subtheme {
  cursor: default !important;
}

.color-gradient {
  background: rgba(221,221,221,1);
  background: -moz-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(246,246,246,1) 70%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,221,221,1)), color-stop(70%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(246,246,246,1) 70%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(246,246,246,1) 70%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(246,246,246,1) 70%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(221,221,221,1) 0%, rgba(246,246,246,1) 70%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff', GradientType=1 );

  width         : 100%;
  height        : 5px;
  margin-bottom : 10px;
}

.lv {
  display: none;
}

#side-tabs img {
  position: absolute;
  z-index : 2;
  cursor: pointer;
}

  #side-tabs img:nth-child(1) {
    top: 100px;
  }

  #side-tabs img:nth-child(2) {
    top: 200px;
  }

  #side-tabs img:nth-child(3) {
    top: 300px;
  }

.new-map-box-head {
  padding-right: 20px;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 11px;
  font-family: arial, sans-serif;
  color: #FFF;
  cursor: move;
}

a.new-map-x:link {
  text-decoration: none;
  float: right;
  display: block;
  color: #FFF;
  margin-top: -24px;
}

span#legendAbout p {
  font-weight: bold;
  border: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-transform: uppercase;
}

.legendDiv {
  display: none;
  padding: 10px 0 10px 10px;
}

.active {
  display: block !important;
}

#map-container {
  font-size : 11px;
  color     : #444;
}

#legend-lv .title {
  padding-left: 10px;
}

.map .container {
  width: 100% !important;
  height: 100% !important;
}

#radioWrapper {
  padding: 10px;
}

  #radioWrapper label {
    line-height: 21px;
    cursor: pointer;
    display: table-cell;
    white-space: normal;
    font-weight: normal;
  }

.dijitRadio {
  float: left;
  clear: both;
  height: 21px !important;
  vertical-align: middle;
  margin-right: 10px !important;
}

.esriPopupWrapper {
  margin-top: -4px !important;
}

.esriPopup .contentPane {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 9px !important;
    margin-bottom: 0 !important;
}

.notice {
  display: none;
  vertical-align: middle;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px;
  line-height: 13px;
  padding-top: 10px;
}

#flex-div {
    background-color: #f5f5f5;
    padding         : 5px 10px;;
}

#search-container {
  padding           : 5px 0 5px 5px;
  background-color  : #fff;
}

  #search-container input[type='submit'] {
    margin-left: 5px;
  }

#widget_layer-select {
  margin-top: -1px;
}

#widget_layer-select .dijitArrowButtonContainer {
  display: none;
}

#widget_layer-select .dijitInputInner {
  height: 21px;
}

#widget_layer-select .dijitValidationContainer {
  display: none;
}

#widget_layer-select .dijitPlaceHolder {
  padding-top: 6px;
}

#search-results-container {
  background-color: #fff;
}

.dijitTooltip {
  display: none !important;
}

#search-results-header {
  display: none;
  font-weight: bold;
  padding-left: 10px;
}

.dijitComboBoxMenu {
  font-size: 11px !important;
}

#layer-search-button {
  width: 51px;
  padding-left: 5px;
  padding-right: 5px;
}